body {
    text-align: center;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
}
.parent {
    display: grid;
    grid-template-columns: 50% 50 %;
    grid-template-rows: 50% 50 %;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
.div1 { 
    grid-area: 1 / 2 / 3 / 3; 
    padding-right: 50px;
}
.div2 { 
    grid-area: 1 / 1 / 3 / 2; 
}
.image {
    width: 50%;
    height: 100%;
    border: 5px solid white;
    padding: 5px;
}
h1 {
    color: #08AEEA;
    text-shadow: 2px 2px #000000;
}
h2 {
    color: #08AEEA;
    text-shadow: 1px 1px #000000;
}